
/* start of form styling */
#formEl{
  background-color: wheat;
}

form{
  width: 300px;
  border: solid 5px;
  position:relative;
  margin-left: auto;
  margin-right: auto;
  padding: 100px 50px;
  border-radius: 30px;
  background-color: turquoise;
}
form input{
  display: list-item;
  padding: 20px 40px;
  margin: 20px auto;
  border-radius: 30px;
  font-size: large;
  border-style: groove;

}

#formStyle{
  display: block;
}

#formEl h1{
  width: 400px;
  margin: 0 auto;
  margin-top: -20%;
  text-align: center;
}

#submit-btn{
  color: white;
  background-color: red;
}

/* End of form styling */


/* start of battling buttons styling */

#fightMe{
  background-color: #7c94de;
}

#navBar{
  background-color: white;
  width: 300px;
  padding: 10px;
  margin:0  0 auto;
  border: dashed;
  background-color: steelblue;


}

#battle{
  display: flex;
  width: 700px;
  margin: 0 auto;
  margin-top: 400px;
  justify-content: center;
  gap: 300px;
}

#secondButton, #firstButton{
  padding: 50px;
  font-size: x-large;
  border-radius: 100%;
  border-style:none;
}

#battle h2{
  margin-left: 40px;
}

/* End of styling for battling buttons */


/* start of styling for dont hover */

#dontHover{
  background-color: #bfdb9b;
}
#hoverText{
  
  width: 290px;
  margin:500px auto;

}



